body{
    background-color: aqua;
    color: azure;
}
input{
    margin:15px;

}
#submit_button{
    margin: 20px;
    background-color: greenyellow;

}
#sort_button{
    margin: 20px;
    background-color: greenyellow;
    display: none;
}